.all-offers {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.one-offer {
  flex-shrink: 0;
}

.owner {
  display: flex;
  align-items: center;
}

.owner img {
  width: 20px;
}

.product-pic {
  width: 230px;
  height: 360px;
}

.product-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
