section {
  display: flex;
  justify-content: space-around;
}

.offer-main {
  background-color: #eaedee;
  height: 100vh;
}

.product-details {
  margin-top: 40px;
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
  height: 600px;
}

.product-details > p {
  font-size: 24px;
}

.other-details {
  padding-bottom: 30px;
  padding-top: 20px;
  border-bottom: lightgrey solid 1px;
}

.other-details > div {
  display: flex;
  justify-content: space-between;
}

.other-details div span:first-child {
  color: #999999;
}

.user p {
  font-size: 16px;
}

.user img {
  width: 30px;
}

.user {
  display: flex;
}

.product-picture {
  height: 600px;
  margin-top: 40px;
  width: auto;
}

.product-picture > img {
  height: 100%;
  width: 100%;
}

/* .carrousel {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.carrousel img {
  object-fit: cover;
  flex-shrink: 0;
} */

.offer-main button {
  background-color: #0dafba;
  border: none;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
}

.user img {
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-description {
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
}
