/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: grey solid 2px; */
  padding: 20px 0px;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
}

input {
  height: 40px;
  width: 100%;
  border: none;
  background-color: #f5f6f7;
  border-radius: 5px;
  padding: 20px 35px;
  font-size: 16px;
}

input::placeholder {
  opacity: 0.5;
}

input:focus {
  outline: none;
}

.input-div {
  width: 30%;
}

.search-icon {
  position: relative;
  top: 34px;
  left: 6px;
  color: #999999;
  font-size: 23px;
  opacity: 0.6;
}

.sign {
  display: flex;
  gap: 20px;
}

.sign button {
  border: #09b0ba solid 1px;
  color: #09b0ba;
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

.sell {
  background-color: #09b0ba;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
}
