/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border-bottom: grey solid 2px; */
  padding: 20px 0px;
}

.big-header {
  height: 130px;
}

.small-header {
  height: 80px;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.search-input {
  height: 40px;
  width: 100%;
  border: none;
  background-color: #f5f6f7;
  border-radius: 5px;
  padding: 20px 35px;
  font-size: 16px;
  margin-bottom: 10px;
}

.center-input {
  margin-top: 30px;
}

.search-input::placeholder {
  opacity: 0.5;
}

.search-input:focus {
  outline: none;
}

.input-div {
  width: 45%;
  /* border: #c2175b 2px solid; */
  display: flex;
  flex-direction: column;
}

.input-div div:first-child {
  position: relative;
  bottom: 20px;
  /* border: green 2px solid; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-div div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-icon {
  position: relative;
  top: 34px;
  left: 7px;
  color: #999999;
  font-size: 23px;
  opacity: 0.6;
}

.center-icon {
  top: 61px;
}

.sign {
  display: flex;
  gap: 20px;
}

.white-button {
  border: #09b0ba solid 1px;
  color: #09b0ba;
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

.sell {
  background-color: #09b0ba;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
}

.logout {
  background-color: #c2175b;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}

.input-div span {
  font-size: 12px;
}

.range {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.range span {
  width: 30%;
}
